.nav-item {
    padding-right: 15px;
}

.rounded {
    border-radius: 0.45rem!important;
}

.card {
    padding: 5px;
}


.archive-bttn-cell {
    /*border: 1px #0F0 solid;*/
    /*width: 80px;*/
}

#archive_bttn {
    display: none;
}

th {
    text-align: center;
}

.client-cell {
    width: 250px;
    text-align: center;
}

.date-cell {
    width: 80px;
}

.priority-cell {
    width: 80px;
}

.desc-cell {
    width: 460px;
}

.due-by-cell {
    width: 100px;
}

.due-on-cell {
    width: 100px;
}


td.desc-cell {
  padding: 10px;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.53);
}



/*
 NEW TASK FORM STYLES
*/
#new_task_form_dialog {
    display: none;
}